@import "../../css/colors";


.formFlex{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input{
  border: 1px solid $BorderGray;
  border-radius: .15rem;
  padding: .5rem;
  width: 100%;
}

.labelText{
  font-size: .9rem;
  position: absolute;
  top: -1.125rem
}

.label{
  flex: 1;
  position: relative;
  margin: 1rem 1rem .5rem 1rem;
}

.buttonLabel{
  position: relative;
  margin: 1rem 1rem .5rem 1rem;

}