@import "../../../css/colors";

.bicycleFlexWrap {
  margin-left: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.textContainer{
  flex: 1;
}
.buttonsContainer {
  > * {
    margin-right: 1rem;
  }
}